<!-- MARKETING - FITUR1 -->
<div class="container text-center">
    <div class="row">
        <!-- boutique -->
        <div class="col-md-4">
            <img src="{{asset('assets/img/fitur1/1.png')}}" width="140" height="138">
            <h2 class="fw-normal mistral pt-3">Produits</h2>
            <p>Halal. Bonnes affaires. Variés. Hauts qualités. Délicieux.</p>
            <p class="pb-3"><button type="button" class="btn btn-outline-danger">CATALOGUE</button></a></p>
        </div>
        <!-- promo -->
        <div class="col-md-4 pt-4">
            <img src="{{asset('assets/img/fitur1/2.png')}}" width="110" height="110" >
            <h2 class="fw-normal mistral pt-4">Économique</h2>
            <p>Des prix attractifs et abordables.</p>
            <p class="pt-3"><button type="button" class="btn btn-outline-danger">P R O M O</button></a></p>
        </div>
        <!-- blog -->
        <div class="col-md-4 pt-4">
            <img src="{{asset('assets/img/fitur1/3.png')}}" width="110" height="110">
            <h2 class="fw-normal mistral pt-4">Blog</h2>
            <p>des astuces : créer un gateau de bonbons</p>
            <p class="pt-3"><button type="button" class="btn btn-outline-danger">L  I  R  E</button></a></p>
        </div>
    </div><!-- end : .row : MARKETING1 - FITUR1 -->
</div><!-- end : .row : MARKETING1 - FITUR1 -->
