<!-- MARKETING - FITUR2 -->
<div class"container-fluide">
  <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
    <h1 class="display-4 fw-normal titreSection">PRODUITS</h1>
    <h6 class="mistral">La boutique Lili'Sweet vous propose divers produits de confiserie allant des bonbons, chocolats et boissons rafraîchissantes.</h6>
  </div>

  <div class="row row-cols-1 row-cols-md-3 mb-3 pt-1 text-center">
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal titre_section">Confiserie</h4>
            </div>
            <div class="card-body h-20">
              <br>
              <img src="{{asset('assets/img/fitur2/1.png')}}" alt="" width="60%" height="60%" />
              <h1 class="card-title pricing-card-title"><small class="text-muted fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <button type="button" class="w-100 btn btn-md btn-outline-primary">Découvrir</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal titre_section">Chocolaterie</h4>
            </div>
            <div class="card-body">
              <br>
              <img src="{{asset('assets/img/fitur2/2.png')}}" alt="" width="60%" height="60%" />
              <h1 class="card-title pricing-card-title"><small class="text-muted fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <button type="button" class="w-100 btn btn-md btn-outline-primary">Découvrir</button>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card mb-4 rounded-3 shadow-sm">
            <div class="card-header py-3">
              <h4 class="my-0 fw-normal titre_section">Boissons</h4>
            </div>
            <div class="card-body">
              <br>
              <img src="{{asset('assets/img/fitur2/3.png')}}" alt="" width="33.5%" height="33.5%" />
              <h1 class="card-title pricing-card-title"><small class="text-muted fw-light"></small></h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
              </ul>
              <button type="button" class="w-100 btn btn-md btn-outline-primary">Découvrir</button>
            </div>
          </div>
        </div>
      </div>
</div>

<style>
  .pricing-header {
    max-width: 700px;
  }

  .titre_section {
    color: #bd5b6e;
    font-weight : bold;
	  font-family: 'Julius Sans One', sans-serif;
  }

  .mistral {
    font-size: 24px;
  }
</style>
