<!-- MARKETING - FITUR5 -->
<div class="container-fluide">
    <div class="row featurette pt-3 pb-5">
        <div class="col-4 text-center">
            <div class="image-center">
                <img src="{{asset('assets/img/fitur5/securise.png')}}" width="27px" height="35px">
            </div>
            <p class="font-fitur5 py-2">Paiement 100% sécurisé !<br> 3 moyens de paiement différents</p>
        </div>
        <div class="col-4 text-center">
            <div class="image-center text-center" ">
                <img src="{{asset('assets/img/fitur5/camion.png')}}" width="60px" height="40px">
            </div>
            <p class="font-fitur5 py-2">Livraison en Point Relais<br>ou à domicile.</p>
        </div>
        <div class="col-4 text-center">
            <div class="image-center">
                <img src="{{asset('assets/img/fitur5/cs.png')}}" width="40px" height="40px">
            </div>
            <p class="font-fitur5 py-2">Une équipe à votre écoute du lundi au vendredi<br>de 9h00 à 16h00.</p>
        </div>
    </div>
</div>

<style>
    .image-center {
        display: flex;
        justify-content: center;
    }

    .font-fitur5 {
        color: gray;
    }
</style>
