<!-- FOOTER -->
<footer class="footer fixed-bottom" id="footer">
  <div class="container footer-copyright text-center">
    © 2022  <span id="brand-footer">Lili'Sweet</span> ,  tous droits réservés|  Design: <span id="JELIta">JELIta Studio</span>
  </div>
</footer>

<style>
  footer {
    width: 100%;
    bottom: 0px;
    left: 0px;
  }

  #footer {
    font-family: 'Gruppo', cursive;
    background-color: #A87795;
    font-size: 18px;
    height: 50px;
    color: #D4BBCA;
    padding-top: 12px;
  }

  #brand-footer {
    font-family:  'Great Vibes', cursive;
    font-size: 22px;
    font-weight: bold;
  }
  #JELIta {
    font-weight: bold;
  }
</style>
