<div id="horaires" class="ps-3">
    <table width="100%">
        <tbody>
            <tr>
                <th width="25%">Adresse</th>
                    <td class="px-1">:</td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td>7 rue Eric Tabarly <br>25220 Novillars</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
            </tr>
            <tr>
                <th>Téléphone</th>
                    <td class="px-1">:</td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td>07 49 97 35 33</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
            </tr>
            <tr>
                <th>Services disponibles</th>
                    <td class="px-1">:</td>
                    <td>
                        <table style="width:100%">
                            <tbody>
                                <tr>
                                    <td>- achats en ligne</td>
                                </tr>
                                 <tr>
                                    <td>- retrait sur place sur <a href="https://wa.me/0033749973533">RDV</a></td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
            </tr>
            <tr>
                <th>Horaires téléphone</th>
                    <td class="px-1">:</td>
                    <td>
                        <table>
                            <tbody>
                                <tr>
                                    <td>lundi</td>
                                    <td class="px-3">:</td>
                                    <td>09:00–16:00</td>
                                </tr>
                                <tr>
                                    <td>mardi</td>
                                    <td class="px-3">:</td>
                                    <td>09:00–16:00</td>
                                </tr>
                                <tr>
                                    <td>mercredi</td>
                                    <td class="px-3">:</td>
                                    <td>09:00–16:00</td>
                                </tr>
                                <tr>
                                    <td>jeudi</td>
                                    <td class="px-3">:</td>
                                    <td>09:00–16:00</td>
                                </tr>
                                <tr>
                                    <td>vendredi</td>
                                    <td class="px-3">:</td>
                                    <td>09:00–16:00</td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
            </tr>
        </tbody>
    </table>
</div>

<style>
#horaires {
    font-size: 10px;
}
</style>