<style> 
#maps {
   padding-top: 2px;
}
</style>

<div class="row px-0 text-center" id="maps">       
  <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5734.557447858043!2d6.1248392221060675!3d47.287946620659504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x479282093bea1235%3A0x6528f51a5321215a!2s7%20Rue%20Eric%20Tabarly%2C%2025220%20Novillars!5e0!3m2!1sfr!2sfr!4v1655107574118!5m2!1sfr!2sfr" width="100px" height="150px" style="border:0;" class="px-0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>